@page "{id}"
@model RavenSMS.Pages.MessagesPreviewPageModel
@{
    ViewData[ViewDataKeys.PageTitle] = "Message Preview";
    ViewData[ViewDataKeys.SelectedPage] = PageId.MessagesPreviewPage;
}

@if (Model.SmsMessage is not null && Model.Client is not null)
{
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="page-title">
                <a asp-page="/Messages/Index" class="btn btn-default back-btn"><i class="fas fa-solid fa-arrow-left"></i></a>
                <h1>Messages preview</h1>
            </div>
            <div class="row g-4 settings-section">
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="row">
                            <!-- ID -->
                        <div class="mb-3 col-sm-6">
                                <label asp-for="SmsMessage.Id" class="form-label">Id</label>
                                <input asp-for="SmsMessage.Id" class="form-control" readonly>
                            </div>
                            <!-- client app -->
                        <div class="mb-3 col-sm-6">
                                <label asp-for="Client.Name" class="form-label">
                                    Client
                                    <span class="ms-2" data-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top"
                                      data-bs-content="the client used to send the SMS message.">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                            <circle cx="8" cy="4.5" r="1" />
                                        </svg>
                                    </span>
                                </label>
                                <input asp-for="Client.Name" class="form-control" readonly>
                            </div>
                            <!-- status -->
                        <div class="mb-3 col-sm-6">
                                <label asp-for="SmsMessage.Status" class="form-label">Status</label>
                                <input asp-for="SmsMessage.Status" class="form-control" readonly>
                            </div>
                            <!-- Priority -->
                        <div class="mb-3 col-sm-6">
                                <label asp-for="SmsMessage.Priority" class="form-label">Priority</label>
                                <input asp-for="SmsMessage.Priority" class="form-control" readonly>
                            </div>
                            <!-- CreateOn -->
                        <div class="mb-3 col-sm-6">
                                <label asp-for="SmsMessage.CreateOn" class="form-label">Created On</label>
                                <input asp-for="SmsMessage.CreateOn" class="form-control" readonly>
                            </div>
                            <!-- Sent On -->
                        <div class="mb-3 col-sm-6">
                                <label asp-for="SmsMessage.SentOn" class="form-label">Sent On</label>
                                <input asp-for="SmsMessage.SentOn" class="form-control" readonly>
                            </div>
                            @if (Model.SmsMessage.DeliverAt.HasValue)
                            {
                                <div class="mb-3 col-sm-12">
                                    <label asp-for="SmsMessage.DeliverAt" class="form-label">Deliver at:</label>
                                    <input asp-for="SmsMessage.DeliverAt" class="form-control" readonly>
                                </div>
                            }
                            <!-- To -->
                        <div class="mb-3">
                                <label asp-for="SmsMessage.To" class="form-label">To</label>
                                <input asp-for="SmsMessage.To" class="form-control" readonly>
                            </div>
                            <!-- Message body -->
                        <div class="mb-3">
                                <label asp-for="SmsMessage.Body" class="form-label">Message body</label>
                                <textarea asp-for="SmsMessage.Body" class="form-control" readonly placeholder="you message" style="height: 100px"></textarea>
                            </div>
                        </div>
                        <!-- re-send action -->
                        @if (Model.SmsMessage.Status != RavenSmsMessageStatus.Queued)
                        {
                            <button type="button" class="btn app-btn-primary" onclick="onResend()">Re-Send</button>
                        }
                    </div>
                </div>
            </div>
            @if (Model.SmsMessage.SendAttempts.Any())
            {
                <hr class="my-4">
                <div class="row g-4 settings-section">
                    <div class="app-card app-card-settings shadow-sm p-4">
                        <div class="app-card-body">
                            <div class="col-md-12">
                                <p>Sending history:</p>
                                <ul class="cbp_tmtimeline">
                                    @foreach (var attempt in @Model.SmsMessage.SendAttempts)
                                    {
                                        <li>
                                            <time class="cbp_tmtime">
                                                <span>@attempt.Date.ToString("hh:mm tt")</span>
                                                <span>@attempt.Date.Date.ToShortDateString()</span>
                                            </time>

                                            @if (@attempt.Status == SendAttemptStatus.Failed)
                                            {
                                                <div class="cbp_tmicon bg-danger"><i class="fas fa-envelope"></i></div>
                                                <div class="cbp_tmlabel">
                                                    <h2><span>Sending attempt failed</span></h2>
                                                    <p>
                                                        an attempt to send the message has failed,
                                                        here are a list of errors associated with this failure:
                                                    </p>
                                                    <div>
                                                        <ul>
                                                            @foreach (var error in @attempt.Errors)
                                                            {
                                                                <li class="mb-1">
                                                                    <b>Error code</b>: @error.Code <br />
                                                                    <b>Error message</b>: @error.Message <br />
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="cbp_tmicon bg-success"><i class="fas fa-envelope"></i></div>
                                                <div class="cbp_tmlabel">
                                                    <h2><span>Sending attempt succeeded</span></h2>
                                                    <p>the message has been sent successfully.</p>
                                                </div>
                                            }

                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@section styles {
<link rel="stylesheet" href="~/build/css/messages.preview.page.min.css" />
}

@section scripts {
<script src="~/build/js/messages.preview.page.min.js"></script>
}