@page "{id}"
@model RavenSMS.Pages.ClientSetupPageModel
@{
    ViewData[ViewDataKeys.PageTitle] = "Client Setup";
    ViewData[ViewDataKeys.SelectedPage] = PageId.ClientSetupPage;
}

@if (Model.Client is not null)
{
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="page-title">
                <a asp-page="/Clients/Index" class="btn btn-default back-btn"><i class="fas fa-solid fa-arrow-left"></i></a>
                <h1>Setup Client</h1>
            </div>
            <div class="row g-4 settings-section">
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="row app-card-body">
                        <div class="col-sm">
                            <div>
                                <p>Follow this simple steps to configure your client app.</p>
                                <div class="row ">
                                    <div class="col-sm mb-3">
                                        <b> Server details:</b> <br />
                                        <b>Id:</b> @Model.RavenSmsServerInfo.ServerId<br />
                                        <b>Name:</b> @Model.RavenSmsServerInfo.ServerName<br />
                                        <b>Url:</b> @Model.ServerUrl<br />
                                    </div>
                                    <div class="col-sm mb-3">
                                        <b> Client details:</b> <br />
                                        <b>Id:</b> @Model.Client.Id<br />
                                        <b>Name:</b> @Model.Client.Name<br />
                                    </div>
                                </div>
                                <p>
                                    <b> 1. download the app:</b> <br />
                                    you can download the app APK from project <a href="https://github.com/YoussefSell/SMS.Net/releases" target="_blank">GitHub releases page</a>.<br />
                                </p>
                                <p><b> 2. scan the QR code:</b> <br /></p>
                                <div class="row" style="margin-bottom: 15px">
                                    <div class="col-sm-auto mb-2">
                                        <img src="~/build/media/images/scan_qr_image.jpg" width="150" height="150">
                                    </div>
                                    <div class="col-sm">
                                        after installing the app, it will prompt you to scan the QR code, so scan it.
                                        after that, the app will connect to the server,
                                        then you can start sending the messages with it.
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm d-flex justify-content-md-center align-items-center">
                            <div id="qrcode"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>
}

@section scripts {
    <script>
        const qr_content = "@Model.QrCodeText";
    </script>
    <script src="~/build/js/clients.setup.page.min.js"></script>
}